#botonera-menu{
    border: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: repeat(3, 28%);
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#contenedor-botonera-menu{
    padding-top: 25vh;
    display: grid;
    justify-items: center;
}

#menu-btn-fert-y-agroq{
    grid-column: 2/4;
}

#menu-btn-balance{
    grid-column: 1/3;
}
