#form-cargar{
    width: 35%;
    height: 20%;
    padding-bottom: 20%;
    padding-right: 40%;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto auto;
    font-family: var(--font-family);
    font-size: 30pt;
    font-weight: 700;
}

#cont-labels-cargar{
    display: grid;
    align-items: center;
}


#cont-inputs-cargar{
    display: grid;
    align-items: center;
}

#cont-botones-cargar{
    grid-column: 2/3;
}

.input-cargar{
    padding-left: 0.5rem;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
}